iframe {
    width: 100%;
    min-height: 1000px;
    border: 0px;
    border-top: 2px dashed black;
}

p {
    display: inline;
}

.section {
    margin-top: 20px;
    margin-bottom: 40px;
}

select {
    width: 100%;
    background-color: beige;
}

.candidate {
    background-color: lightcyan;
    margin-top: 5px;
}

.unknown {
    background-color: skyblue;
}

.unknown-short {
    color: white;
    background-color: blue;
    display: inline;
}

.pred-unknown {
    color: blue !important;
}

.pred-unknown-short {
    color: skyblue !important;
}

.correct {
    background-color: lightgreen;
}

.correct-short {
    color: white !important;
    background-color: green;
    display: inline;
}

.pred-correct {
    color: green !important;
}

.pred-correct-short {
    color: lightgreen !important;
}

.wrong {
    background-color: lightpink;
}

.pred-wrong {
    color: red !important;
}

.pred-wrong-short {
    color: orange !important;
}

.pred-start:before {
    content: "◗";
    font-size: 1.2em;
}

.pred-end:before {
    content: "◖";
    font-size: 1.2em;
}

.tooltip-start:before {
    content: "▶";
}

.tooltip-end:before {
    content: "◀";
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: grey;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    padding: 2px 4px;
    font-weight: normal;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.candidate-child .tooltip {
    color: gray;
}

.unknown-short .tooltip-start,
.unknown-short .tooltip-end,
.correct-short .tooltip-start,
.correct-short .tooltip-end {
    color: white !important;
}

