iframe {
    width: 100%;
    min-height: 10000px;
    border: 0px;
    border-top: 2px dashed black;
}

p {
    display: inline;
}

.section {
    margin-top: 20px;
    margin-bottom: 40px;
}

select {
    width: 100%;
    background-color: beige;
}

.candidate {
    background-color: lightcyan;
    margin-top: 5px;
}

.candidate-child .tooltip {
    color: gray;
}

.correct {
    background-color: greenyellow;
}

.correct-short {
    color: white;
    background-color: green;
    display: inline;
}

.wrong {
    background-color: lightpink;
}

.tooltip-start::before {
    content: "▶";
}

.tooltip-end::before {
    content: "◀";
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: grey;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    padding: 2px 4px;
    font-weight: normal;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}